/*----------ROOOOOOOOT-----------*/
:root {
    --framesize: calc(100vh / 104);
    --glyphdelay: 0.3s;
}


/*-----Fonts----*/


.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@font-face {
    font-family: "GT Sectra";
    src: url("fonts/GT-Sectra-Display-Medium-Trial.woff2") format("woff2");
}

@font-face {
    font-family: "Sharp Grotesk";
    src: url("fonts/SharpGroteskBold-25.woff2") format("woff2");
}

/*-----Tags----*/

body {
    background: #edccc5;
    margin: 0;
    padding: 0px;
    height: 100vh;
}

a {
    /*font-family: "GT Sectra", serif;
    font-weight: 100;
    font-family: "Inter", sans-serif;
    font-weight: 200;*/
    font-family: "Sharp Grotesk";
    font-weight: 100;
    text-align: center;
    text-align-last: center;
    font-size: 8vw;
    text-decoration: none;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

}

p {
    /*font-family: "GT Sectra", serif;
    font-weight: 100;*/
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    text-align-last: center;
    font-size: 12px;
    letter-spacing: 5px;
    text-decoration: none;
}


.flex-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}

.box {
    min-width: 150px;
    height: auto;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    
    

}

.info {
    min-width: 150px;
    height: auto;
    
}



#menuA {
    transform: rotate(1deg);
    position: relative;
    color: #f0ae1a;
}

#menuA:hover {
    animation: menuA  .2s infinite ease-in-out;
    animation-direction: alternate;
}

@keyframes menuA {
    from {rotate: 1deg;}
    to {rotate: 2deg;}
}



#menuB {
    transform: rotate(-2deg);
    position: relative;
    color: #f9921b;
}

#menuB:hover {
    animation: menuB  .2s infinite ease-in-out;
    animation-direction: alternate;
}

@keyframes menuB {
    from {rotate: -1deg;}
    to {rotate: -3deg;}
}



#menuC {
    transform: rotate(2deg);
    position: relative;
    color: #fd94a2;
}

#menuC:hover {
    animation: menuC  .2s infinite ease-in-out;
    animation-direction: alternate;
}

@keyframes menuC {
    from {rotate: 1deg;}
    to {rotate: 6deg;}
}



#menuD {
    transform: rotate(-1deg);
    color: #fd961f;
}

#menuD:hover {
    animation: menuD  .2s infinite ease-in-out;
    animation-direction: alternate;
}

@keyframes menuD {
    from {rotate: 0deg;}
    to {rotate: -1deg;}
}



