
.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@font-face {
    font-family: "GT Sectra";
    src: url("fonts/GT-Sectra-Display-Medium-Trial.woff2") format("woff2");
}

@font-face {
    font-family: "Sharp Grotesk";
    src: url("fonts/SharpGroteskBold-25.woff2") format("woff2");
}
* {
    cursor: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000ff;

}

a {
    /*font-family: "GT Sectra", serif;
    font-weight: 100;
    font-family: "Inter", sans-serif;
    font-weight: 200;*/
    font-family: "Sharp Grotesk";
    font-weight: 100;
    text-align: center;
    text-align-last: center;
    font-size: 5vw;
    text-decoration: none;
    line-height: 4vw;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    z-index: 0;
    position: absolute;


}

p {
    /*font-family: "GT Sectra", serif;
    font-weight: 100;*/
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #0000ff;
    text-align: center;
    text-align-last: center;
    font-size: 12px;
    letter-spacing: 5px;
    text-decoration: none;
}

#game-container {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin: 20px;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
}

#block {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #eaeceb;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
}

#character  {
    position: absolute;
    /* Adjust the size of the image */
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    /* Center the image relative to its container */

    /* Optionally, add styles like border-radius, box-shadow, etc. */
    z-index: 9999;
}

#character img {

    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    

}

@keyframes spin { 
    0% { transform: rotate(0deg); }
    25% { transform: rotate(60deg); }
    50% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }

}






#menuA {
    top: 10vw;
    left: 5vw;
    transform: rotate(-5deg);
    position: relative;
    color: #0000ff;
}

#menuB {
    top: 25vw;
    left: 25vw;
    transform: rotate(1deg);
    position: relative;
    color: #0000ff;
}

#menuC {
    top: 35vw;
    left: 35vw;
    transform: rotate(-10deg);
    position: relative;
    color: #0000ff;
}

#menuD {
    top: 15vw;
    left: 47vw;
    transform: rotate(11deg);
    position: relative;
    color: #0000ff;
}

#menuE {
    top: 34vw;
    left: 62vw;
    transform: rotate(11deg);
    position: relative;
    color: #0000ff;
}