/*----------ROOOOOOOOT-----------*/
:root {
    --framesize: 1vw;
}

/* notes
calc(100vh / 50)
*/


/*-----Fonts----*/

@font-face {
    font-family: "SharpGroteskBook-25";
    src: url("fonts/SharpGroteskBook-25.woff2") format("woff2");
}



/*-----Tags----*/
body {
    background-color: #1F7AFF;
    margin: 0;
    overflow-x: hidden;

}


p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: calc(1.2*var(--framesize));
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
    margin: 0;


}

a {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: #ffffff;
    text-align: left;


}

img {

}


/*-----ID----*/


#info-1 {
    position: relative;
}

#info-2 {
    position: relative;
}

#info-3 {
    position: relative;
}

#year {

    width: 80vw;
    height: auto;
    padding-bottom: 500px;
}




/*-----Class----*/

.flexbox-lettering {
    padding: var(--framesize);
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: calc(var(--framesize)/2);
}

.parallax-layer {
    position: absolute;
}









/*-----lettering----*/


.glyphcommon {
    width: auto;
    height: 100%;
    position: relative;
    /*transform: translate(calc(50vw - 140px));*/
}

#glyph1e { height: calc(3*var(--framesize)); }

#glyph2t { height: calc(3*var(--framesize)); }

#glyph3r { height: calc(3*var(--framesize)); }

#glyph4e { height: calc(3*var(--framesize)); }

#glyph5z { height: calc(3*var(--framesize)); }

#glyph6n { height: calc(3*var(--framesize)); }

#glyph7o { height: calc(3*var(--framesize)); }

#glyph8k { height: calc(3*var(--framesize)); }

#glyph9s { height: calc(3*var(--framesize)); }

#glyph10s { height: calc(3*var(--framesize)); }

#glyph11u { height: calc(3*var(--framesize)); }

#glyph12l { height: calc(3*var(--framesize)); }

 
#glyph13h { height: calc(3*var(--framesize)); }

#glyph14c { height: calc(3*var(--framesize)); }

#glyph15s { height: calc(3*var(--framesize)); }

#glyph16b { height: calc(3*var(--framesize)); }

#glyph17a { height: calc(3*var(--framesize)); }

#glyph18r { height: calc(3*var(--framesize)); }

#glyph19e { height: calc(3*var(--framesize)); }

#glyph20t { height: calc(3*var(--framesize)); }

#glyph21s { height: calc(3*var(--framesize)); }

#glyph22a { height: calc(3*var(--framesize)); }

#glyph23m { height: calc(5*var(--framesize)); }
  

